.c3 svg {
    font-family: 'Pragmatica', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, monospace;
}

svg:hover {
    transform: rotateX(360deg);
}

.c3-defocused, .c3-focused {
    transition: transform .5s, all 1s;
}

.c3-chart-texts {
    font-size: 3rem;
}

.c3-chart-arc text {
    color: #262626;
}

.c3-legend-item {
    font-size: 1.75rem;
}

.c3-legend-item-tile {
    -webkit-transform: translate(2px, -1px);
    -ms-transform: translate(2px, -1px);
    -moz-transform: translate(2px, -1px);
    -o-transform: translate(2px, -1px);
    transform: translate(2px, -1px);
}

.legend span {
    width: 33.333333%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: white;
}

.c3-axis {
    font-size: 1.5rem;
}

.c3-chart-arc {
    stroke-width: 0;
    border-radius: 20px;
}

.c3-chart-arc:hover {
    stroke-width: 3px;
}

.c3-line {
    stroke-width: 3px;
}

.c3-chart-arcs-title {
    font-size: 3rem;
}

.c3-axis-y-label, .c3-axis-y2-label {
    font-weight: bold;
    font-size: 15px;
}

#lineChart1 {
    top: -10%;
}

#donutChart .c3-target-data2 {
    opacity: 0.5 !important;


}

/*.c3-target-data2 {*/
    /*opacity: 0.5 !important;*/
/*}*/